.d-block{
    margin: 0 auto;
    width: 50vw;
}
.carrouselBS{
padding: 150px;
background-image: url('../../imagenes/6273506.gif');
background-position: center;
background-size: cover;
}
.CarouselFont{
    color: black;
}