.colores{
    background-color: #FFDE59;
    background-color: #458AC9;
    background-color: #AF4E9C;
    background-color: #FFE2C0;
    background-color: #F79125;
    background-color: #FFDE59;
    background-color: #FC6160;
    background-color: #060074;
}
.novedadesInicio{
    background-image: url('./imagenes/6273506.gif');
    background-position: center;
    background-size: cover;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Share Tech', sans-serif;
}